@import "../../../style/color.scss";

.scroll-btn-container {
  button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4;
    width: 0px;
    height: 0px;
    font-size: 0;
    border: 0px;
    background: $lightblue;
    color: $white;
    border-radius: 50%;
    visibility: hidden;
    transition: all 0.3s;

    &.is-shown {
      width: 50px;
      height: 50px;
      font-size: larger;
      visibility: visible;
    }
    fa-icon {
      display: block;
    }
  }
}
