@import "../../../style/color.scss";
@import "../../../style/mixin.scss";
.toolbar-container {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 16px 16px;
  color: white;
  background: $lightblue;
  @include box-shadow();

  @media screen and (max-width: 780px) {
    grid-template-columns: 1fr;
  }
}
:host ::ng-deep {
  ul {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    li {
      display: inline;
      list-style: none;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
