.cc-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .cc-input {
    display: flex;
    flex-direction: column;
    .input-wrapper {
      position: relative;
      width: 100%;

      input {
        box-sizing: border-box;
        width: 100%;
        font-size: medium;
        padding: 8px;
        padding-left: 32px;
        border: 1px solid rgba(128, 128, 128, 0.603);
        border-radius: 4px;
        &:focus {
          outline: 0;
        }
      }
      fa-icon {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .cc-Formatter {
    display: flex;
    span {
      display: inline-block;
      padding: 0px 10px;
    }
  }
}
