@import "../../../style/color.scss";
.input-wrapper {
  width: fit-content;

  input {
    padding: 8px 16px;
    border-radius: 16px;
    border: 1px solid $silver;
    display: block;

    &:focus {
      outline: 0;
    }
  }
  p{
    padding: 4px 4px;
  }
}
