@import "../../../style/color.scss";
blockquote {
  background: $lightblue;
  color: $white;
  padding: 16px;
  padding-right: 24px;
  border-left: 8px solid $silver;
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;

  fa-icon {
    font-size: x-large;
  }
  .quote {
    font-size: large;
  }
  footer {
    grid-column: 1/3;
    text-align: end;
    .author {
      margin: 0;
      font-size: medium;
    }
    .occupation {
      font-size: medium;
      margin: 0;
    }
  }
}
