@import "../../../style/color.scss";
.footer-container {
  color: $white;
  .social-media {
    background: $lightblue;
    padding: 10px;
    font-size: large;
    ul {
      display: flex;
      padding: 10px 0;
      li {
        font-size: larger;
        margin: 0 15px;
        list-style: none;
      }
    }
  }
  small {
    display: block;
    text-align: center;
    padding: 4px 0;
    background: $lightblue;
  }
}
