<app-toolbar [title]="title">
  <ul>
    <li><a routerLink="./components" routerLinkActive="active" [routerLinkActiveOptions]="{
      exact : true
    }">Component</a></li>
    <li><a routerLink="./directives" routerLinkActive="active">Directives</a></li>
    <li><a routerLink="./services" routerLinkActive="active">Services</a></li>
    <li><a routerLink="./pipes" routerLinkActive="active">Pipes</a></li>
    <li><a routerLink="./other" routerLinkActive="active">Other</a></li>
  </ul>

</app-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
<app-goto-top></app-goto-top>
<app-footer></app-footer>