@import "../../../style/color.scss";
@import "../../../style/mixin.scss";
.accordion-container {
  @include box-shadow;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid $silver;
    .icon {
      display: inline-flex;
      align-items: center;
      transition: transform 0.3s ease;

      &.is-expanded {
        transform: rotate(180deg);
      }
    }
  }
  .body {
    height: 0;
    margin: 0;
    padding: 0 12px;
    visibility: hidden;
    font-size: 0;
    transition: all 0.3s ease;
    &.is-expanded {
      font-size: large;
      height: fit-content;
      padding: 12px;
      visibility: visible;
    }
  }
}
