@import "../../../style/color.scss";
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  div {
    position: relative;
    width: 100%;
    small {
      color: red;
    }
    input,
    textarea {
      border: 1px solid $lightblue;
      border-left: 5px solid $lightblue;
      width: 100%;
      display: block;
      padding: 4px 0px;
      padding-left: 50px;
      line-height: 24px;
      box-sizing: border-box;
      &:focus {
        color: $lightblue;
        outline: 0;
        & + span {
          color: $lightblue;
        }
      }
    }

    span {
      color: $silver;
      left: 0;
      top: 0;
      padding: 4px 16px;
      position: absolute;
    }
  }

  .message {
    grid-column: 1/3;
  }
  .submit {
    grid-column: 1/3;
    button {
      color: white;
      background: $lightblue;
      float: right;
      padding: 8px 12px;
      border: 0;
      border-radius: 20px;
      fa-icon {
        margin-right: 5px;
      }
    }
  }
}
