@import "./style/color.scss";
@import "./style/mixin.scss";
* {
  scroll-behavior: smooth;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}
