@import "../../../style/color.scss";
.counter{
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid $lightblue;
    background: $lightblue;
    border-radius: 8px;
    padding: 4px 0;
;
    button{
        color: $white;
        background: $lightblue;
        border: 0;
        border-radius: 8px;
        padding: 0 8px;
    }
    input{
        width: 30px;
        padding: 0 4px;
        border-radius: 8px;
        border: 0;
        &:focus{
            outline: 0;
        }
    }
}