@import "src/style/color.scss";
.banner-cutout {
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding: 80px 0;
  box-sizing: border-box;
  h1 {
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    background: $white;
    margin: 0;
    mix-blend-mode: screen;
    text-transform: uppercase;
  }
}
